
.input_form {


}

body {
    background-color: gray;
}

.form-input::hover {
    background-color: red;
}

.add-link {
    margin-top: 30px;
    color: #2d19ba;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1d2124;
}

.menu {
    display: flex;
    align-content: center;
    background-color: #5a6268;
    justify-content: center;
}

.apply-btn {
    width: 30%;
}