<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
<head>
    <title>Intervolga</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="container">
    <h2 class="menu">
        <a href="../index.php" class="hvr-grow"> Увидеть список стран</a></h2>
    <br/><br/>
    <div class="menu"><h3>Добавить новую страну </h3></div>
    <form class="input_form" action="../add.php" method="post" name="form1">
        <table class="table table-striped table-dark" border="0">
            <tr>
                <td class="hvr-bounce-out">Название страны</td>
                <td><input class="hvr-bounce-in" pattern="^[A-Za-zА-Яа-яЁё\s-]+$" type="text"
                           name="name"></td>
            </tr>
            <tr>
                <td class="hvr-bounce-out">Столица</td>
                <td><input type="text" data-tooltip="эта подсказка " class="hvr-bounce-in"
                           pattern="^[A-Za-zА-Яа-яЁё\s-]+$" name="capital"></td>
            </tr>
            <tr>
                <td></td>
                <td><input class='btn-success apply-btn hvr-bounce-in' data-tooltip="эта подсказка" type="submit"
                           name="Submit" value="Добавить">
                </td>
            </tr>
        </table>
</div>
</body>
</html>